* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_4 {
  width: 100%;
  height: 1117px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_8 {
  width: 620px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 75px;
  left: 554px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v1_7 {
  width: 554px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 201px;
  left: 69px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_11 {
  width: 426px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 340px;
  left: 1048px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 370px;
  height: 344px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 1048px;
  overflow: hidden;
}
.v1_13 {
  width: 548px;
  height: 279px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 316px;
  overflow: hidden;
}
.v1_10 {
  width: 439px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 455px;
  left: 69px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
@media screen and max-width: 1024px
body {
  font-size: 14px;
}
.v21_4 {
  width: 100%;
  height: 1117px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_8 {
  width: 620px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 75px;
  left: 554px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v1_7 {
  width: 554px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 201px;
  left: 69px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_11 {
  width: 426px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 340px;
  left: 1048px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 370px;
  height: 344px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 1048px;
  overflow: hidden;
}
.v1_13 {
  width: 548px;
  height: 279px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 316px;
  overflow: hidden;
}
.v1_10 {
  width: 439px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 455px;
  left: 69px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
